<!-- Borrowed from CS50, distribution code for Problem Set 6 -->

<!DOCTYPE html>

<html lang="en">
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"/>

        <link href="static/style.css" rel="stylesheet"/>

        <title>Handwriting Reader</title>

    </head>
    <body>

        <nav class="navbar fixed-top navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Handwriting Reader</a>
        </nav>

        <div padding-top="2cm" class="container-fluid">
            <table>
                {% for i in range(SIDE_LENGTH) %}
                <tr>
                    {% for j in range(SIDE_LENGTH) %}
                    <td>{{ image[i][j] }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
            <form action="/">
                <button type="submit">Back</button>
            </form>
        </div>

        <!-- http://jquery.com/ -->
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>

        <!-- http://getbootstrap.com/ -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <!-- app's own JavaScript -->
        <script src="/static/scripts.js"></script>

    </body>
</html>
