<!-- Borrowed from CS50, distribution code for Problem Set 6 -->

<!DOCTYPE html>

<html lang="en">
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"/>

        <link href="static/style.css" rel="stylesheet"/>

        <title>Handwriting Reader</title>

    </head>
    <body>

        <nav class="navbar fixed-top navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Handwriting Reader</a>
        </nav>

        <div padding-top="2cm" class="container-fluid">
            <h1>{{ character }}</h1>
            <form action="/">
                <button type="submit">Back</button>
            </form>
            <br>
            <form id="learn" action="/learn" method="post">
                <p>Optional: tell us if we were correct and help our network learn!</p>
                <input type="checkbox" name="yes" id="yes"> Correct </input><br>
                <input type="checkbox" name="no" id="no"> Incorrect </input>
                <input type="number" name="num" id="num" placeholder="What should it be?"></input>
                <button type="submit" name="learn" id="learn"> Submit </button>
            </form>
        </div>

        <!-- http://jquery.com/ -->
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>

        <!-- http://getbootstrap.com/ -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <!-- app's own JavaScript -->
        <script src="/static/scripts.js"></script>

    </body>
</html>
